@font-face {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;

  src: local('Inter-Regular'),
  url('../fonts/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter-Regular.woff') format('woff');

  font-display: swap;
}

@font-face {
  font-family: 'Prata-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;

  src: local('Prata-Regular'),
  url('../fonts/Prata-Regular.woff2') format('woff2'),
  url('../fonts/Prata-Regular.woff') format('woff');

  font-display: swap;
}

