$text : #303030;
$bg : #f8f8f8;
$text2 : #8F8F8F;
%inter{
  font-family:'Inter-Regular' , sans-serif;
  font-weight: 400;
  font-style: normal;
}
%prata{
  font-family:'Prata-Regular' , sans-serif;
  font-weight: 400;
  font-style: normal;
}